.city-weather-wrapper {
  background: rgba(37, 87, 161, 0.5);
  height: 100%;
  padding: 2em;
  padding-bottom: 5em;
}

.city-weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.city-weather-title {
  font-family: "Raleway";
  margin: 0;
}

.city-name-title {
  font-family: "Raleway";
}
.city-weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1200px) {
  .city-weather {
    padding: 1em;
  }
}

@media (max-width: 600px) {
  .city-weather {
    font-size: 0.8em;
    padding: 1em 0 0 0;
  }

  .city-weather-wrapper {
    padding: 1em;
  }
}
