#button-list {
  display: block;
}
#drawer-button {
  display: none;
}
#title {
  display: block;
}
@media (max-width: 600px) {
  #button-list {
    display: none;
  }
  #drawer-button {
    display: block;
  }
  #title {
    display: block;
  }
}
