.navbar-title {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-family: "lobster", sans-serif;
}

#button-list {
  display: block;
}
#drawer-button {
  display: none;
}
#title {
  display: block;
}
@media (max-width: 600px) {
  #button-list {
    display: none;
  }
  #drawer-button {
    display: block;
  }
  #title {
    display: block;
  }
}
