.card-list {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.card-list-title {
  font-family: "Raleway", sans-serif;
}

.card-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}
