.navbar {
  min-height: 4vh;
}

.main-container {
  min-height: 90vh;
  background-image: radial-gradient(
    circle 773px at 2.3% 96.8%,
    rgba(73, 88, 231, 1) 0%,
    rgba(77, 19, 124, 0.97) 100.3%
  );
}

.footer {
  min-height: 8vh;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: linear-gradient(
    70.6deg,
    rgba(172, 30, 255, 1) 0.3%,
    rgba(65, 35, 251, 1) 55.8%,
    rgba(35, 251, 224, 1) 105.1%
  );
}
